* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	background-image: url(../img/fondo.png);
	background-size: cover;
}

.formulario {
	display: flex;
	align-items:center;
	width:50%;
	height: 200px;
	margin: 200px auto;
	background:#006064;
	color:#fff;
	padding: 0px 20px;
	border-radius:20px;
}

.formulario input {
	color:#000000;
}


#valores {
	color: #fff;
	font-size: 20px;
	width:50%;
	max-width: 600px;
	margin:auto;
	word-break: break-all;
}


button {
	color:#000000;
	background: #000000;
	border: 1px solid #ffffff;
	width: 90px;
}

label, input {
	margin-right:10px !important;
	border-radius: 3px;
}